{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="card text-black bg-light mb-3" style="max-width: 18rem;">
		  <div class="card-header">Education</div>
		  <div class="card-body">
		    <!-- <h5 class="card-title">Education</h5> -->
		    <p class="card-text">PhD at Johns Hopkins University.</p>
			<p class="card-text">M.S.E. at Johns Hopkins University.</p>
			<p class="cart-text">B.S.E. at Northwestern Polytechnical University.</p>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">Technical Strengths</div>
		  <div class="card-body">
		    <!-- <h5 class="card-title">Programming Languages</h5> -->
		    <p class="card-text">Python, Matlab, SQL, C, Latex, HTML, Javascript.</p>
			<p class="cart-text">AWS, Hadoop.</p>
			<p class="card-text">Spark, Airflow, Kafka, PostgreSQL, MySQL.</p>
			<p class="card-text">UNIX/Linux, git, Flask.</p>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
		  <div class="card-header">Hobbies</div>
		  <div class="card-body">
		    <!-- <h5 class="card-title">Sports</h5> -->
		    <p class="card-text">Soccer and basketball.</p>
			<p class="card-text">Reading books.</p>
			<p class="card-text">Mechanics</p>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card text-black bg-white mb-3" style="max-width: 18rem;">
		  <div class="card-header">Contact Info</div>
		  <div class="card-body">
		    <!-- <h5 class="card-title">Sports</h5> -->
		    <p class="card-text">mengzhao0408@gmail.com</p>
			<p class="card-text">(443)-240-3696</p>
			<p class="card-text"><a href="www.linkedin.com/in/mzhao15">www.linkedin.com/in/mzhao15</a></p>
			<p class="card-text"><a href="www.github.com/mzhao15/">www.github.com/mzhao15</a></p>
		  </div>
		</div>
	</div>
</div>

{% endblock content %}
