{% extends "layout.html" %}
{% block content %}

<h3>

</h3>
<div class="row">
	<div class="col">
		<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
		  <div class="card-header">Info</div>
		  <div class="card-body">
		    <h5 class="card-title">Education</h5>
		    <p class="card-text">PhD at Johns Hopkins University.</p>
			<p class="card-text">M.S.E. at Johns Hopkins University.</p>
			<p class="cart-text">B.S.E. at Northwestern Polytechnical University.</p>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">Skills</div>
		  <div class="card-body">
		    <h5 class="card-title">Programming Languages</h5>
		    <p class="card-text">Python, Matlab, SQL, C, Latex, HTML.</p>
			<p class="cart-text">AWS, PostgreSQL, MySQL.</p>
			<p class="card-text">Spark, Airflow, Kafka, BeautifulSoup.</p>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
		  <div class="card-header">Hobbies</div>
		  <div class="card-body">
		    <h5 class="card-title">Sports</h5>
		    <p class="card-text">Soccer, Basketball.</p>
		  </div>
		</div>
	</div>
</div>

{% endblock content %}
