{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2 bd-sidebar">
	  <div class="content-section">
		  <ul class="nav flex-column">
			  <li class="list-group-item text-primary list-group-item-light">
				  <a id="total" href="#">Total</a>
			  </li>
			  <li class="list-group-item text-primary list-group-item-light">
				  <a id="user" href="#">User</a>
			  </li>
			  <li class="list-group-item text-primary list-group-item-light">
				  <a id="compare" href="#">Compare</a>
			  </li>
			  <li class="list-group-item text-primary list-group-item-light">
				  <a href="#">FAQ</a>
			  </li>
		  </ul>
	  </div>
  </div>

  <div class="col-md-10">
  	  <div>
  	  	<form id="selectform">
		  <div class="form-row">
		    <div class="col">
		      <label for="cik">Choose a CIK:</label>
		      <input id="cik" type="text" class="form-control" placeholder="1542574" value="1542574">
		    </div>
		    <div class="col">
		      <label for="startdate">Choose a starting date:</label>
		      <input id="startdate" type="date" class="form-control" placeholder="2016-01-01" value="2016-01-01">
		    </div>
		    <div class="col">
		      <label for="enddate">Choose an ending date:</label>
		      <input id="enddate" type="date" class="form-control" placeholder="2016-01-31" value="2016-01-31">
		    </div>
		  </div>
		</form>
  	  </div>
	  <div id="chart">
		  <!-- <canvas id="myChart" style="max-width: 800px;"></canvas> -->
	  </div>
	  <!-- preload a chart-->
	  <script>
	  	// Load the Visualization API and the package.
	  	google.charts.load('current', {'packages':['corechart']});
	  	// Set a callback to run when the Google Visualization API is loaded.
	  	google.charts.setOnLoadCallback(drawChart);
	  	function drawChart() {
			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Date');
			data.addColumn('number', '# of visits');
			data.addRows([
			  ['2016-01-01', 1000],
			  ['2016-01-02', 500],
			  ['2016-01-03', 700],
			  ['2016-01-04', 100],
			  ['2016-01-05', 2000]
			]);

			// Set chart options
			var options = { 'title': 'Example',
                            'legend': 'none',
                            'titleTextStyle': { fontName: 'Times-Roman', postition: 'center', fontSize: '18', bold: true, italic: false },
                            'legend': 'none',
                            'hAxis': {'title': 'Date', titleTextStyle:{fontName: 'Times-Roman',fontSize: '15', bold: false, italic: false}},
                            'vAxis': {'title': 'Number of Visits', titleTextStyle:{fontName: 'Times-Roman',fontSize: '15', bold: false, italic: false}},
			                'height': 400,
                            'colors': ['purple']
                        };

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.ColumnChart(document.getElementById('chart'));

			function selectHandler() {
			  var selectedItem = chart.getSelection()[0];
			  if (selectedItem) {
			    var date = data.getValue(selectedItem.row, 0);
			    alert('The user selected ' + data);
			  }
			}

			google.visualization.events.addListener(chart, 'select', selectHandler);
			chart.draw(data, options);
		}
	  </script>
  </div>
</div>
<script src="../static/js/total.js"></script>
<script src="../static/js/user.js"></script>
<script src="../static/js/compare.js"></script>
{% endblock content %}
