{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<h2 class="text-center"><a class="article-title" href="#">Insight Project</a></h2>
					<p class="article-content">Analyzing the statistics of the users' visits to the websites of companies has been a common tool to understand customers' insterests and trend of products. However, the weblog files and pageview information often include inforation from web crawlers which can mislead companies to draw wrong conclusions and thus make wrong decisions. This insight project aims to help companies identify and filter the fake information, and thus precisely analyze their customers' behaviors.<p>
					<p class="article-content">This project uses the logfiles (millions of visits per day) from <a href="https://www.sec.gov/">sec.org</a>, but can be extended to other websites such as e-commerce, digital media and so on, which has larger volume of visits.</p>
					<p class="article-content">This pipeline has been optimized so that the batch processing can be completed within a short time.</p>
					<p class="article-content">The data pipeline consists of two batch processings: (a) identifying the robot IPs and (b) filtering the detected robot IPs and calculate the user access statistics to the website. The whole data pipeline is scheduled and monitored by Apache Airflow.</p>
					<img style="max-width:800px;" src="../static/images/data_pipeline.png" alt="pipeline">
				</div>
			</div>
		</article>
	</div>
	<div class="col-md-2"></div>
</div>


{% endblock content %}
